spring:
  datasource:
    url: jdbc:h2:mem:csvanalyzer;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

storage:
  tmp-dir: /app/tmp

logging:
  level:
    root: INFO
    com.example.csvanalyzer: DEBUG
    org.springdoc: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: ERROR
